# GIT
.git/
.gitattributes
.gitignore
# Project
.git
.gitignore
.travis.yml
.codeclimate.yml
web-src/
coverage/
index.html
tslint.json
jsconfig.json
tsconfig.json
tsconfig-node.json
webpack.templata.config.js
webpack.development.config.js
webpack.templata-compiler.config.js