language: node_js
node_js:
  - "6"
  - "8"
  - "10"
  - "11"
install:
  - npm install
  - npm install codeclimate-test-reporter
  - npm install coveralls
before_script:
  - npm run build
script:
  - npm run test
after_success:
  - npm run coverage
  - cat coverage/lcov.info | node_modules/codeclimate-test-reporter/bin/codeclimate.js
  - cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
