name: Node CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [8, 10, 12, 13]
    steps:
    - uses: actions/checkout@master
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: npm install, build, and test
      run: |
        npm ci
        npm run build
        npm run test
    - name: collect coverage (codeclimate)
      if: matrix.node_version == 13 && success()
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CODECLIMATE_REPORTER_ID }}
        GIT_COMMIT_SHA: ${{ github.sha }}
        GIT_BRANCH: ${{ github.ref }}
      run: |
        curl -o ./cc-reporter -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
        chmod +x ./cc-reporter
        ./cc-reporter before-build
        npm run coverage
        ./cc-reporter after-build --exit-code 0
    - name: collect coverage (coveralls)
      if: matrix.node_version == 13 && success()
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        path-to-lcov: ./coverage/lcov.info
